<footer class="footer">
    <div class="footer-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 width-23 mb-30">
                    <div class="mb-20"><img src="/templates/assets/imgs/template/logo-footer.svg" alt="transp"></div>
                    <p class="font-xs mb-20 color-white">Firmamız, ulusal ve uluslararası taşımacılık alanında güvenilir, hızlı ve sürdürülebilir lojistik çözümleri sunmak amacıyla kurulmuştur. Modern filo yapımız, deneyimli kadromuz ve teknoloji destekli operasyon altyapımız ile müşterilerimize zamanında ve sorunsuz teslimat garantisi sağlıyoruz. Depolama, dağıtım, kargo takibi ve özel lojistik çözümlerimizle iş ortaklarımızın büyüme yolculuğuna değer katıyoruz.</p>
                    <h6 class="color-brand-1">Bizi Takip Edin</h6>
                    <div class="mt-15"><a class="icon-socials icon-facebook" href="#"></a><a class="icon-socials icon-instagram" href="#"></a><a class="icon-socials icon-twitter" href="#"></a><a class="icon-socials icon-youtube" href="#"></a><a class="icon-socials icon-skype" href="#"></a></div>
                </div>
                <div class="col-lg-3 width-16 mb-30">
                    <h5 class="mb-10 color-brand-1">Şirketimiz</h5>
                    <ul class="menu-footer">
                        <li><a href="#">Misyonumuz</a></li>
                        <li><a href="#">Vizyonumuz</a></li>
                        <li><a href="#">Kariyer</a></li>
                        <li><a href="#">Basında Biz</a></li>
                        <li><a href="#">Ödüllerimiz</a></li>
                        <li><a href="#">Referanslarımız</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 width-16 mb-30">
                    <h5 class="mb-10 color-brand-1">Hizmetlerimiz</h5>
                    <ul class="menu-footer">
                        <li><a href="#">Uluslararası Taşımacılık</a></li>
                        <li><a href="#">Yurtiçi Dağıtım</a></li>
                        <li><a href="#">Depolama & Antrepo Hizmetleri</a></li>
                        <li><a href="#">Tedarik Zinciri Yönetimi</a></li>
                        <li><a href="#">Kargo Takip Sistemleri</a></li>
                        <li><a href="#">Özel Lojistik Çözümler</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 width-16 mb-30">
                    <h5 class="mb-10 color-brand-1">Hizmetlerimiz</h5>
                    <ul class="menu-footer">
                        <li><a href="#">Havayolu Taşımacılığı</a></li>
                        <li><a href="#">Denizyolu Taşımacılığı</a></li>
                        <li><a href="#">Demiryolu Taşımacılığı</a></li>
                        <li><a href="#">Depolama Hizmetleri</a></li>
                        <li><a href="#">Dağıtım Hizmetleri</a></li>
                        <li><a href="#">Katma Değerli Hizmetler</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 width-20 mb-30">
                    <h5 class="mb-10 color-brand-1">Galeri</h5>
                    <div class="galleries-footer">
                        <ul class="list-imgs">
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal1.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal2.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal3.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal4.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal5.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal6.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal7.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal8.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal9.png" alt="transp"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-2">
        <div class="container">
            <div class="footer-bottom">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 text-center text-lg-start"><span class="color-grey-300 font-md">©Transp @DateTime.Now.Year | Tüm hakları saklıdır.</span></div>
                    <div class="col-lg-6 col-md-12 text-center text-lg-end">
                        <ul class="menu-bottom">
                            <li><a class="font-sm color-grey-300" href="term-conditions.html">Gizlilik Politikası</a></li>
                            <li><a class="font-sm color-grey-300" href="term-conditions.html">Hizmet Koşulları</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>