<footer class="footer">
    <div class="footer-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 width-23 mb-30">
                    <div class="mb-20"><img src="/templates/assets/imgs/template/logo-footer.svg" alt="transp"></div>
                    <p class="font-xs mb-20 color-white">Küresel ağımızı hava, deniz, demir yolu ve kara yolu taşımacılığı ile çok modlu taşımacılıktaki derin uzmanlığımızla birleştiriyoruz. Ayrıca müşterilerimize tedarik, depolama, e-ticaret lojistiği ve kit oluşturma, montaj, özel paketleme ve broşür ekleme gibi katma değerli hizmetler sunuyoruz.</p>
                    <h6 class="color-brand-1">Bizi Takip Edin:</h6>
                    <div class="mt-15"><a class="icon-socials icon-facebook" href="#"></a><a class="icon-socials icon-instagram" href="#"></a><a class="icon-socials icon-twitter" href="#"></a><a class="icon-socials icon-youtube" href="#"></a><a class="icon-socials icon-skype" href="#"></a></div>
                </div>
                <div class="col-lg-3 width-16 mb-30">
                    <h5 class="mb-10 color-brand-1">Şirket</h5>
                    <ul class="menu-footer">
                        <li><a href="about.html">Misyon &amp; Vizyon</a></li>
                        <li><a href="team.html">Ekibimiz</a></li>
                        <li><a href="career.html">Kariyer</a></li>
                        <li><a href="#">Basın &amp; Medya</a></li>
                        <li><a href="#">Reklam</a></li>
                        <li><a href="#">Müşteri Yorumları</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 width-16 mb-30">
                    <h5 class="mb-10 color-brand-1">Sektörler</h5>
                    <ul class="menu-footer">
                        <li><a href="#">Küresel Kapsama Alanı</a></li>
                        <li><a href="#">Dağıtım</a></li>
                        <li><a href="#">Muhasebe Araçları</a></li>
                        <li><a href="#">Yük Kurtarma</a></li>
                        <li><a href="#">Tedarik Zinciri</a></li>
                        <li><a href="#">Depolama</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 width-16 mb-30">
                    <h5 class="mb-10 color-brand-1">Hizmetler</h5>
                    <ul class="menu-footer">
                        <li><a href="#">Hava Yolu ile Taşımacılık</a></li>
                        <li><a href="#">Deniz Yolu ile Taşımacılık</a></li>
                        <li><a href="#">Demir Yolu ile Taşımacılık</a></li>
                        <li><a href="#">Depolama</a></li>
                        <li><a href="#">Dağıtım</a></li>
                        <li><a href="#">Katma Değerli Hizmetler</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 width-20 mb-30">
                    <h5 class="mb-10 color-brand-1">Galeri</h5>
                    <div class="galleries-footer">
                        <ul class="list-imgs">
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal1.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal2.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal3.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal4.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal5.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal6.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal7.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal8.png" alt="transp"></li>
                            <li> <img src="/templates/assets/imgs/page/homepage1/gal9.png" alt="transp"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-2">
        <div class="container">
            <div class="footer-bottom">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 text-center text-lg-start"><span class="color-grey-300 font-md">© @DateTime.Now.Year | Tüm hakları saklıdır.</span></div>
                    <div class="col-lg-6 col-md-12 text-center text-lg-end">
                        <ul class="menu-bottom">
                            <li><a class="font-sm color-grey-300" href="term-conditions.html">Gizlilik Politikası</a></li>
                            <li><a class="font-sm color-grey-300" href="term-conditions.html">Çerezler</a></li>
                            <li><a class="font-sm color-grey-300" href="term-conditions.html">Hizmet Şartları</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div></footer>