<section class="section mt-50 bg-customers-say">
    <div class="container">
        <h2 class="title-favicon color-white mb-20 title-padding-left">Müşterilerimiz bizim için ne diyor?</h2>
        <p class="font-lg color-white pl-55">Lojistik ve taşımacılık operasyonlarında maliyetlerini <br class="d-none d-lg-block">büyük ölçüde düşüren iş ortaklarımıza kulak verin.</p>
    </div>
    <div class="box-slide-customers mt-50">
        <div class="box-swiper">
            <div class="swiper-container swiper-group-3-customers pb-50">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card-testimonial-grid">
                            <div class="box-author mb-25">
                                <a href="#"><img src="/templates/assets/imgs/page/homepage1/author.png" alt="transp"></a>
                                <div class="author-info"><a href="#"><span class="font-xl-bold color-brand-2 author-name">Ahmet Yılmaz</span></a><span class="font-sm color-grey-500 department">Kuzey Tedarik A.Ş.</span></div>
                            </div>
                            <p class="font-md color-grey-700">Siparişlerimizin her aşamasını tek bir ekrandan anlık olarak takip edebilmek bize muazzam bir hız ve güven kazandırdı. Kesinlikle tavsiye ederim.</p>
                            <div class="card-bottom-info justify-content-between">
                                <div class="rating text-start"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><br><span class="font-sm color-white">Müşteri desteği için</span></div><span class="font-xs color-grey-500 rate-post text-end">Puan: 4.95 / 5</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-testimonial-grid">
                            <div class="box-author mb-25">
                                <a href="#"><img src="/templates/assets/imgs/page/homepage1/author2.png" alt="transp"></a>
                                <div class="author-info"><a href="#"><span class="font-xl-bold color-brand-2 author-name">Burak Ormanbaş</span></a><span class="font-sm color-grey-500 department">Apex İhracat Ltd.</span></div>
                            </div>
                            <p class="font-md color-grey-700">Gümrük süreçleri ve uluslararası taşımacılıkta gösterdikleri şeffaf yaklaşım sayesinde operasyonel yükümüz ciddi anlamda azaldı ve hızlandık.</p>
                            <div class="card-bottom-info justify-content-between">
                                <div class="rating text-start"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><br><span class="font-sm color-white">Hızlı teslimat için</span></div><span class="font-xs color-grey-500 rate-post text-end">Puan: 4.90 / 5</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-testimonial-grid">
                            <div class="box-author mb-25">
                                <a href="#"><img src="/templates/assets/imgs/page/homepage1/author3.png" alt="transp"></a>
                                <div class="author-info"><a href="#"><span class="font-xl-bold color-brand-2 author-name">Elif Candan</span></a><span class="font-sm color-grey-500 department">TechGrup A.Ş.</span></div>
                            </div>
                            <p class="font-md color-grey-700">Zamanında teslimat oranları ve sundukları rekabetçi fiyatlar ile e-ticaret altyapımızın en güvenilir lojistik partneri haline geldiler.</p>
                            <div class="card-bottom-info justify-content-between">
                                <div class="rating text-start"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><img src="/templates/assets/imgs/template/icons/star.svg" alt="transp"><br><span class="font-sm color-white">Güvenilir hizmet için</span></div><span class="font-xs color-grey-500 rate-post text-end">Puan: 5.00 / 5</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-pagination-customers">
                    <div class="swiper-button-prev swiper-button-prev-customers swiper-button-prev-style-1">
                        <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
                        </svg>
                    </div>
                    <div class="swiper-button-next swiper-button-next-customers swiper-button-next-style-1">
                        <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>