@using TransportationMongoDB.Dtos.OfferDtos
@model List<ResultOfferDto>

<section class="section mt-100">
    <div class="container">
        <h2 class="title-favicon mb-20">Hizmetlerimiz</h2>
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 mb-30">
                <p class="font-md color-gray-700">Taşımcılık çözümlerinde yüksek standartlar sunan ekibimizle ulusal ve uluslararası lojistik süreçlerinizi profesyonel şekilde yönetiyoruz.</p>
            </div>
        </div>
        <div class="mt-20 box-background-offer">
            <div class="bg-under"></div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="card-offer hover-up">
                            <div class="card-image"><img src="@item.ImageUrl" alt="transp"></div>
                            <div class="card-info">
                                <h5 class="color-brand-2 mb-15">@item.Title</h5>
                                <p class="font-sm color-grey-900 mb-35">@item.Description</p>
                                
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>