.box-contactform-right {
    position: relative;
    padding: 60px 60px 60px 40px;
    .map-info {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        margin-left: 0px;
    }
}
.box-contactform-left {
    padding: 68px 86px;
    background-color: $background-bg-2;
}
.box-cover-contactform {
    background-color: $background-bg-1;
}