<header class="header sticky-bar">
    <div class="container">
        <div class="main-header">
            <div class="header-left">
                <div class="header-logo"><a class="d-flex" href="index.html"><img alt="Ecom" src="/templates/assets/imgs/template/logo.svg"></a></div>
                <div class="header-nav">
                    <nav class="nav-main-menu d-none d-xl-block">
                        <ul class="main-menu">
                            <li class="has-children">
                                <a class="active" href="index.html">Ana Sayfa</a>
                            </li>
                            <li><a href="about.html">Hakkımızda</a></li>
                            <li class="has-children">
                                <a href="#">Hizmetlerimiz</a>
                                <div class="sub-menu five-col">
                                    <div class="menu-col">
                                        <h6 class="color-brand-2 mb-15">Deniz Yolu ile Taşımacılık</h6>
                                        <div class="menu-image"><img src="/templates/assets/imgs/page/homepage1/menu1.png" alt="transp"></div>
                                        <ul class="megamenu">
                                            <li><a href="services.html">Container Shipping</a></li>
                                            <li><a href="services.html">Bulk Shipping</a></li>
                                            <li><a href="services.html">Roll-on/Roll-off Shipping</a></li>
                                            <li><a href="services.html">Break Bulk Shipping</a></li>
                                            <li><a href="services.html">Project Cargo Shipping</a></li>
                                        </ul>
                                    </div>
                                    <div class="menu-col">
                                        <h6 class="color-brand-2 mb-15">Hava Yolu ile Taşımacılık</h6>
                                        <div class="menu-image"><img src="/templates/assets/imgs/page/homepage1/menu2.png" alt="transp"></div>
                                        <ul class="megamenu">
                                            <li><a href="services.html">General Cargo</a></li>
                                            <li><a href="services.html">Express Shipping</a></li>
                                            <li><a href="services.html">Dangerous Goods</a></li>
                                            <li><a href="services.html">Oversized Cargo</a></li>
                                            <li><a href="services.html">Perishable Goods</a></li>
                                        </ul>
                                    </div>
                                    <div class="menu-col">
                                        <h6 class="color-brand-2 mb-15">Kara Yolu ile Taşımacılık</h6>
                                        <div class="menu-image"><img src="/templates/assets/imgs/page/homepage1/menu3.png" alt="transp"></div>
                                        <ul class="megamenu">
                                            <li><a href="services.html">Road Freight</a></li>
                                            <li><a href="services.html">Rail Freight</a></li>
                                            <li><a href="services.html">Intermodal Transportation</a></li>
                                            <li><a href="services.html">Less-than-Truckload (LTL) Shipping</a></li>
                                            <li><a href="services.html">Specialized Transportation</a></li>
                                        </ul>
                                    </div>
                                    <div class="menu-col">
                                        <h6 class="color-brand-2 mb-15">Demiryolu Lojistik</h6>
                                        <div class="menu-image"><img src="/templates/assets/imgs/page/homepage1/menu4.png" alt="transp"></div>
                                        <ul class="megamenu">
                                            <li><a href="services.html">Rail Freight Transportation</a></li>
                                            <li><a href="services.html">Rail Terminal Services</a></li>
                                            <li><a href="services.html">Rail Freight Forwarding</a></li>
                                            <li><a href="services.html">Intermodal Transportation</a></li>
                                            <li><a href="services.html">Rail Logistics Consulting</a></li>
                                        </ul>
                                    </div>
                                    <div class="menu-col">
                                        <h6 class="color-brand-2 mb-15">Depolama</h6>
                                        <div class="menu-image"><img src="/templates/assets/imgs/page/homepage1/menu5.png" alt="transp"></div>
                                        <ul class="megamenu">
                                            <li><a href="services.html">Warehousing</a></li>
                                            <li><a href="services.html">Distribution Center Operations</a></li>
                                            <li><a href="services.html">E-Commerce Fulfillment</a></li>
                                            <li><a href="services.html">Reverse Logistics</a></li>
                                            <li><a href="services.html">Inventory Management</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="has-children">
                                <a href="blog.html">Ekibimiz</a>
                            </li>
                            <li><a href="contact.html">Bize Ulaşın</a></li>
                        </ul>
                    </nav>
                    <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
                </div>
                <div class="header-right">
                    <div class="d-inline-block box-dropdown-cart">
                        <span class="font-lg icon-list icon-account">
                            <span class="font-sm color-grey-900 arrow-down">
                                <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418"></path>
                                </svg>English
                            </span>
                        </span>
                        <div class="dropdown-account">
                            <ul>
                                <li>
                                    <a class="font-md" href="#">
                                        <img src="/templates/assets/imgs/template/icons/en.png" alt="transp">
                                        İngilizce
                                    </a>
                                </li>
                                <li>
                                    <a class="font-md" href="#">
                                        <img src="/templates/assets/imgs/template/icons/fr.png" alt="transp">
                                        Fransızca
                                    </a>
                                </li>
                                <li>
                                    <a class="font-md" href="#">
                                        <img src="/templates/assets/imgs/template/icons/cn.png" alt="transp">
                                        Çince
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-none d-sm-inline-block">
                        <a class="btn btn-default mr-10 hover-up" href="login.html">Login</a><a class="btn btn-brand-1 d-none d-xl-inline-block hover-up" href="request-a-quote.html">
                        <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z"> </path>
                        </svg>Kargo Takibi
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</header>