.top-bar-style-2 {
    .box-bar.bg-grey-900 {
        background-color: $color-mutted;
    }
    .phone-icon, .email-icon {
        color: $color-brand-2;
    }
    .box-bar .icon-socials {
        svg {
            color: $color-brand-2;
            fill: $color-brand-2;
        }
    }
}
