.box-info-bottom-img-3 {
    .box-info-3-bottom {
       bottom: auto;
       position: relative;
    }
}
.box-register-right {
    background: url(../imgs/page/register/bg-register.png) no-repeat top left;
    background-size: cover;
}