<div class="app-sidebar-menu">
    <div class="h-100" data-simplebar>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <div class="logo-box">
                <a href="index.html" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="/Silva-Admin/dist/assets/images/logo-sm.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="/Silva-Admin/dist/assets/images/logo-light.png" alt="" height="24">
                    </span>
                </a>
                <a href="index.html" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="/Silva-Admin/dist/assets/images/logo-sm.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="/Silva-Admin/dist/assets/images/logo-dark.png" alt="" height="24">
                    </span>
                </a>
            </div>

            <ul id="side-menu">

                <li class="menu-title">Menü</li>

                <li class="menu-title mt-2">Ana Sayfa Alanları</li>
                
                <li>
                    <a href="/Slider/SliderList/" class="tp-link">
                        <i data-feather="columns"></i>
                        <span> Slider Listesi </span>
                    </a>
                </li>

                <li class="menu-title mt-2">General</li>
            </ul>
            
        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
</div>