.quote-center {
    position: absolute;
    bottom: -40px;
    left: 34%;
    width: 113px;
    height: 95px;
    background: url(../imgs/page/homepage2/quote.png) no-repeat center;
    background-size: contain;
} 