.box-pageheader-1 {
    background: $color-brand-2 url(../imgs/page/about/banner.png) no-repeat top center;
    background-size: cover;
    padding: 81px 0px;
}
.box-pageheader-services {
    background-color: $background-white;
    background-image: none;
    padding-bottom: 55px;
}