<section class="section pt-80 mb-70 bg-faqs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="box-faqs-left">
                    <h2 class="title-favicon mb-20">SSS</h2>
                    <p class="font-md color-grey-700 mb-50">Merak ettiğiniz konular mı var? Sıkça sorulan sorularımıza göz atın veya yardım için destek ekibimizle iletişime geçin</p>
                    <div class="box-gallery-faqs">
                        <div class="image-top"> <img src="/templates/assets/imgs/page/homepage1/img-faq1.png" alt="transp"></div>
                        <div class="image-bottom">
                            <div class="image-faq-1"> <img src="/templates/assets/imgs/page/homepage1/img-faq2.png" alt="transp"></div>
                            <div class="image-faq-2"> <img src="/templates/assets/imgs/page/homepage1/img-faq3.png" alt="transp"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box-accordion">
                    <div class="accordion" id="accordionFAQ">
                        <div class="accordion-item">
                            <h5 class="accordion-header" id="headingTwo">
                                <button class="accordion-button text-heading-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Online satın aldığım bir ürünü nasıl iade edebilirim?</button>
                            </h5>
                            <div class="accordion-collapse collapse show" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionFAQ">
                                <div class="accordion-body">Online satın aldığınız ürünleri, teslimat tarihinden itibaren 14 gün içinde iade edebilirsiniz. Ürünlerin kullanılmamış, etiketleri koparılmamış ve orijinal ambalajında olması gerekmektedir. İade sürecini başlatmak için hesabınıza giriş yaparak siparişlerim bölümünden iade talebi oluşturabilirsiniz. Talebiniz onaylandıktan sonra kargo koduyla gönderim sağlayabilirsiniz.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h5 class="accordion-header" id="headingThree">
                                <button class="accordion-button text-heading-5 collapsed text-heading-5 type=" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Siparişimi iptal edebilir veya değiştirebilir miyim?</button>
                            </h5>
                            <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionFAQ">
                                <div class="accordion-body">Siparişiniz kargoya verilmeden önce iptal veya değişiklik işlemlerini kolaylıkla gerçekleştirebilirsiniz. Bunun için müşteri hizmetlerimizle iletişime geçmeniz veya panelinizden sipariş detaylarına girerek iptal butonuna tıklamanız yeterlidir. Kargoya verilmiş siparişlerde değişiklik yapılamamaktadır, ancak teslim aldıktan sonra iade sürecini başlatabilirsiniz.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h5 class="accordion-header" id="headingFour">
                                <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Promosyon veya indirim kodum var, nasıl kullanabilirim?</button>
                            </h5>
                            <div class="accordion-collapse collapse" id="collapseFour" aria-labelledby="headingFour" data-bs-parent="#accordionFAQ">
                                <div class="accordion-body">İndirim veya promosyon kodunuzu ödeme aşamasında sepetinizde bulunan 'Promosyon Kodu' alanına girerek kullanabilirsiniz. Kodu girdikten sonra 'Uygula' butonuna tıkladığınızda indirim sepet toplam tutarınıza anında yansıyacaktır. Unutmayın, her siparişte yalnızca bir adet indirim kodu kullanılabilir ve bazı kodlar belirli kampanyalarla sınırlı olabilir.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h5 class="accordion-header" id="headingFive">
                                <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Hangi teslimat seçeneklerini kullanıyorsunuz?</button>
                            </h5>
                            <div class="accordion-collapse collapse" id="collapseFive" aria-labelledby="headingFive" data-bs-parent="#accordionFAQ">
                                <div class="accordion-body">Müşterilerimize standart kargo, ekspres teslimat ve aynı gün teslimat olmak üzere üç farklı seçenek sunuyoruz. Standart kargo genellikle 2-4 iş günü içinde ulaşırken, ekspres teslimat ile ürünlerinizi ertesi gün teslim alabilirsiniz. Aynı gün teslimat seçeneği ise belirli saatlerden önce verilen siparişlerde ve sadece belirli şehirlerde geçerli olmaktadır.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h5 class="accordion-header" id="headingSix">
                                <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Alışverişlerimde nasıl ödeme yapabilirim?</button>
                            </h5>
                            <div class="accordion-collapse collapse" id="collapseSix" aria-labelledby="headingSix" data-bs-parent="#accordionFAQ">
                                <div class="accordion-body">Alışverişlerinizde kredi kartı, banka kartı ve havale/EFT gibi çeşitli ödeme yöntemlerini güvenle kullanabilirsiniz. Visa, MasterCard, American Express geçerlidir. Ayrıca kapıda ödeme veya dijital cüzdan seçeneklerimiz de mevcuttur. Ödeme altyapımız, kişisel verilerinizin maksimum düzeyde korunmasını sağlayan şifreleme teknolojisi ile güvence altına alınmıştır.</div>
                            </div>
                        </div>
                    </div>
                    <div class="line-border mt-50 mb-50"></div>
                    <h3 class="color-brand-2">Daha fazla yardıma mı ihtiyacınız var?</h3>
                    <div class="mt-20">
                        <a class="btn btn-brand-1-big mr-20" href="contact.html">Bize Ulaşın</a><a class="btn btn-link-medium" href="#">
                        Daha Fazla Bilgi
                        <svg class="w-6 h-6 icon-16 ml-5" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>