.box-form-request-quote-3 {
    position: relative;
    background-image: none
}
.bg-request-quote-3 {
    background-image: url(../imgs/page/homepage3/bg-requestquote-3.png);
    background-position: left bottom;
    background-repeat: no-repeat;
}