<head>

    <meta charset="utf-8" />
    <title>Database Mastery - MongoDB Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CRM, CMS vb. sistemler oluşturmak için kullanılabilecek tam donanımlı bir yönetici teması" />
    <meta name="author" content="Zoyothemes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/Silva-Admin/dist/assets/images/favicon.ico">

    <!-- App css -->
    <link href="/Silva-Admin/dist/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />

    <!-- Icons -->
    <link href="/Silva-Admin/dist/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

</head>