@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")

<body data-menu-color="light" data-sidebar="default">

    <div id="app-layout">

        @await Component.InvokeAsync("_AdminLayoutTopbarComponentPartial")

        @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")

        <div class="content-page">
            <div class="content">

                <div class="container-fluid">

                    @RenderBody()

                </div>
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("_AdminLayoutScriptsComponentPartial")

    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>