@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

@await Component.InvokeAsync("_AdminLayoutHeadComponentPartial")

<body data-menu-color="light" data-sidebar="default">

    <div id="app-layout">

        @await Component.InvokeAsync("_AdminLayoutTopbarComponentPartial")

        @await Component.InvokeAsync("_AdminLayoutSidebarComponentPartial")
            
        @RenderBody()

    </div>

    @await Component.InvokeAsync("_AdminLayoutScriptsComponentPartial")
    
</body>
</html>