.box-info-howitwork-3 {
    max-width: 754px;
    margin: auto;
}
.banner-howitwork3 {
    // position: absolute;
    // top: 0px;
    // left: 0px;
    // right: 0px;
    // min-height: 404px;
    padding: 0px 0px;
    background-color: #E0F0F6;
    background-image: url(../imgs/page/trackyourparcel/world-map.png);
    background-position: top center;
    background-size: cover;
    z-index: 1;
}