<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
            <div class="mobile-logo">
                <a class="btn btn-brand-1 hover-up" href="request-a-quote.html">
                    <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z"> </path>
                    </svg>Kargo Takibi
                </a>
            </div>
            <div class="burger-icon"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
            <div class="perfect-scroll">
                <div class="mobile-menu-wrap mobile-header-border">
                    <nav class="mt-15">
                        <ul class="mobile-menu font-heading">
                            <li class="has-children">
                                <a class="active" href="index.html">Ana Sayfa</a>
                            </li>
                            <li><a href="about.html">Hakkımızda</a></li>
                            <li class="has-children">
                                <a href="services.html">Hizmetlerimiz</a>
                                <ul class="sub-menu">
                                    <li><a href="service-detail.html">Hizmet Detayları</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="blog.html">Ekibimiz</a>
                            </li>
                            <li><a href="contact.html">Bize Ulaşın</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="site-copyright color-grey-400 mt-0">
                    <div class="box-download-app">
                        <p class="font-xs color-grey-900 mb-25">İlk siparişinizde ekstra %15 indirim için uygulamamızı indirin!</p>
                        <div class="mb-25">
                            <div class="d-flex"><a class="mr-10" href="#"><img src="/templates/assets/imgs/template/appstore-btn.png" alt="transp"></a><a href="#"><img src="/templates/assets/imgs/template/google-play-btn.png" alt="transp"></a></div>
                        </div>
                    </div>
                    <div class="mb-0"><span class="font-xs color-grey-500">© @DateTime.Now.Year | Tüm hakları saklıdır. </span></div>
                </div>
            </div>
        </div>
    </div>
</div>