.bg-get-quote {
    background-color: $color-brand-2;
    background-image: url(../imgs/page/homepage1/bg-get-quote.png);
    background-position: top center;
    background-repeat: no-repeat;
}
.box-get-quote {
    display: flex;
    width: 100%;
    align-items: center;
}
.get-quote-left {
    width: 100%;
}
.get-quote-right {
    min-width: 253px;
    max-width: 253px;
    width: 100%;
}