.swiper-group-1 {
    .swiper-pagination-banner {
        position: absolute;
        bottom: 37px !important;
        left: 0px;
        width: 100%;
    }
}
.box-swiper {
    .swiper-banner-1 {
        padding-bottom: 0px;
    }
}